*{
    font-family: "Inter";
}
html{
    background-color: #171717;
}
.main{
    width: 1000px;
    max-width: 90%;
    height: 75vh;
    margin: auto;
}
.container-header{
    width: 100%;
    display: flex;
    justify-content: right;
}
.container{
    background-color: #171717;
    border: 4px solid #464646;
    border-radius: 30px;
    padding: 20px;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container p{
    margin: 0;
}
@font-face {
    font-family: "MuseoModerno";
    src: url("./assets/fonts/MuseoModerno-VariableFont_wght.ttf");
}
.title{
    font-family: "MuseoModerno";
    font-size: 2rem;
    margin: 0px;
    text-align: center;
    background: -webkit-linear-gradient(#FF7008, #9644FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.inside{
    background-color: #171717;
    border-radius: 30px;
    padding: 8px 20px;
}
.border{
    text-wrap-style: none;
    background: -webkit-linear-gradient(#FF7008, #9644FE);
    border-radius: 30px;
    padding: 4px;
}
.border:hover, 
.inside:hover{
    cursor: pointer;
}
.nav-item .border{
    color: gray;
    background: #464646;
}